.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98vh;
  justify-content: space-between;
}

.cyberResult {
  margin-top: 10%;
}

@media only screen and (min-height: 800px) {
  .cyberResult {
    margin-top: 20%;
  }
}

.cyber {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
@media only screen and (max-width: 800px) {
  .cyber {
    width: 100%;
  }
}

.copyClipboard {
  margin-top: 15px;
}

@media only screen and (min-height: 800px) {
  .copyClipboard {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .arwes-card__picture {
    display: none !important;
  }
}

@media only screen and (min-width: 1100px) {
  .cyber {
    width: 50%;
  }
}

.footer {
  align-self: center;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-bottom: 20px;
  }
}

#link {
  color: #9606a6 !important;
}

.buttonContainer {
  margin-top: 65px;
}
