.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98vh;
  justify-content: space-between;
}

.cyber {
  display: block;
  margin: 0 auto;
  width: 50%;
;
}
.footer {
  align-self: center;
  flex-direction: column;
  align-items: flex-end;
}

.form-control {
  border: 1px solid red;
  z-index: 999999;
}
.buttonContainer {
  margin-top: 60px;
}
.form-control.input {
  border: 1px solid #bb00ff;
  z-index: 999999;
}
.room {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
